@import '../../node_modules/material-design-lite/dist/material.pink-purple.min.css';

#main {
 background-color: #dbe9f0; 
}

.mdl-card.centered {
  width: auto;
  margin: 20px;
}

.mdl-dialog {
  top: 0;
  bottom: 0;
}

.center {
  text-align: center;
}

.floating-list{
  position: relative;
}

.floating-list .mdl-list {
  box-shadow: 0 2px 2px #ccc;
  /*margin: 0 20px;*/
  margin-top: -20px;
  border-top: 0;
  background: #fff;
  z-index: 100;
}

.floating-list .mdl-list .mdl-list__item {
  text-align: left;
}

.floating-list .mdl-list .mdl-list__item:hover {
  background-color: #eee; 
}